<%- include('head') %>
    <link href="css/perfil.css" rel="stylesheet">

    <body>
        <%- include('cabecera') %>

            <div class="cuerpo">
                <h2>Información sobre Gharkhana Eats</h2>
                <hr>
                <br>
                <h3>Sobre el proyecto</h3>
                <hr>
                <p>Gharkhana Eats es un proyecto basado en una idea revolucionaria que busca hacerse un hueco en el mercado alimenticio
                    apelando a la, cada vez mayor, necesidad de las personas de no malgastar tiempo en la cocina preparando comida.</p>
                <p>Este proyecto forma parte del trabajo de fin de grado de Desarrollo de Aplicaiones Multiplataformas
                    realizado en el instituto I.E.S Celia Viñas.</p>
                <br>
                <h3>Créditos</h3>
                <hr>
                <p>Proyecto ideado, creado, diseñado y desarrollado por Antonio Miguel Rodríguez Ferrón.</p>
                <br>
                <h3>Tecnologías utilizadas</h3>
                <hr>
                <ul>
                    <li>NodeJS</li>
                    <li>NPM</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Javascript</li>
                    <li>Bootstrap</li>
                    <li>MongoDB</li>
                </ul>
            </div>
    </body>

    <%- include('footer') %>