<%- include('head') %>
    <link href="css/perfil.css" rel="stylesheet">

    <body>
        <%- include('cabecera') %>

        <div class="cuerpo">
            Esto es la sección de acerca de, con sus terminos y condiciones de uso,
            con sus créditos y demás.
        </div>
    </body>

    <%- include('footer') %>