<%- include('head') %>
    <link href="css/acercade.css" rel="stylesheet">

    <body>
        <%- include('cabecera') %>

            <div class="cuerpo">
                <h2>Información sobre Gharkhana Eats</h2>
                <hr>
                <p><b>Gharkhana Eats</b> es un proyecto basado en una idea revolucionaria que busca hacerse un hueco en
                    el mercado alimenticio
                    apelando a la, cada vez mayor, necesidad de las personas de no malgastar tiempo en la cocina
                    preparando comida.</p>
                <p>Este proyecto forma parte del trabajo de fin de grado de Desarrollo de Aplicaiones Multiplataformas
                    realizado por <b>Antonio Miguel Rodríguez Ferrón</b> como actividad formativa en el instituto
                    <b>I.E.S Celia Viñas</b>.</p>
                <br>
                <h3>Cocina</h3>
                <hr>
                <p>Nuesta cocina es humilde pero poderosa. Gracias a un recuerto minoritario y a un suministro al por mayor, conseguimos maximizar los beneficios.</p>
                <div class="foto">
                    <image src="images/foto_cocina.png"></image>
                </div>
                <br>
                <h3>Créditos</h3>
                <hr>
                <p>Proyecto ideado, diseñado y desarrollado por <b><a target="_blank" href="https://www.linkedin.com/in/antonio-rodr%C3%ADguez-420976301/">Antonio Miguel Rodríguez Ferrón</a></b> <i class="fab fa-linkedin-in"></i>.</p>
                <br>
                <h3>Tecnologías utilizadas</h3>
                <hr>
                <ul>
                    <li>NodeJS</li>
                    <li>NPM</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Javascript</li>
                    <li>Bootstrap</li>
                    <li>MongoDB</li>
                </ul>
            </div>
    </body>

    <%- include('footer') %>