<%- include('head') %>
    <link href="css/administracion.css" rel="stylesheet">

    <body>
        <%- include('cabecera') %>
            <div class="cuerpo">
                <h2>Área de administración de Gharkhana Eats</h2>
                <hr>
                <p>Desde aquí se puede administrar la base de datos de Gharkhana Eats.</p>
                <p>Se debe trabajar con sumo cuidado para evitar posibles pérdidas de datos y fallos en el sistema.
                </p>
                <br>
                <h3>Gestión de platos</h3>
                <hr>
                <p>Añade, modifica o elimina un plato.</p>
                <div id="gestionPlatos">
                    <div id="listaMasTotalPlatos">
                        <div id="listaPlatos">
                            <div id="cargando">
                                <img src="/images/gif_cargando.gif" width="50%" />
                                <p>Cargando...</p>
                            </div>
                        </div>
                        <div id="sublistaPlatos"></div>
                    </div>
                    <div id="datosPlatos">
                        <div class="contenedorImagen">
                            <img class="platoImagen" id="imagenPlato" src="" />
                        </div>
                        <div class="contenedorDatos">
                            <input type="text" class="form-control platoDato" id="idPlato" name="idPlato"
                                placeholder="Id del plato" disabled>
                            <input type="text" class="form-control platoDato" id="nombrePlato" name="nombrePlato"
                                placeholder="Nombre del plato" required>
                            <textarea class="form-control platoDato" id="descripcionPlato" name="descripcionPlato"
                                placeholder="Descripción" required></textarea>
                            <input type="text" class="form-control platoDato" id="ingredientesPlato"
                                name="ingredientesPlato" placeholder="Ingredientes" required>
                            <div class="botonesPlatos">
                                <button type="button" class="btn" id="limpiarPlato">
                                    <i class="fas fa-plus mr-1"></i>Nuevo</button>
                                <button type="button" class="btn" id="guardarPlato">
                                    <i class="fas fa-save mr-1"></i>Guardar</button>
                                <button type="button" class="btn" id="eliminarPlato">
                                    <i class="fas fa-trash mr-1"></i>Eliminar</button>
                                <button type="file" class="btn" id="cargarFotoPlato">
                                    <i class="fas fa-upload mr-1"></i>Foto</button>
                                <input type="file" id="archivoInput" style="display: none;">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <h3>Gestión de usuarios</h4>
                    <hr>
                    <p>Ve y elimina usuarios.</p>
                    <div id="gestionUsuarios">
                        <div id="listaMasTotalUsuarios">
                            <div id="listaUsuarios">
                                <div id="cargando">
                                    <img src="/images/gif_cargando.gif" width="50%" />
                                    <p>Cargando...</p>
                                </div>
                            </div>
                            <div id="sublistaUsuarios"></div>
                        </div>
                        <div id="datosUsuarios">
                            <div class="contenedorDatos">
                                <input type="text" class="form-control platoDato" id="idUsuario" name="idUsuario"
                                    placeholder="Id del usuario" disabled>
                                <input type="text" class="form-control usuarioDato" id="nombreUsuario"
                                    name="nombreUsuario" placeholder="Nombre del usuario" disabled>
                                <input type="text" class="form-control usuarioDato" id="emailUsuario"
                                    name="emailUsuario" placeholder="Email del usuario" disabled>
                                <input type="text" class="form-control usuarioDato" id="passUsuario" name="passUsuario"
                                    placeholder="Contraseña del usuario" disabled>
                                <div class="botonesUsuarios">
                                    <button type="button" class="btn" id="eliminarUsuario">
                                        <i class="fas fa-trash mr-1"></i>Eliminar</button>
                                    <button type="button" class="btn" id="eliminarTodosUsuarios">
                                        <i class="fas fa-trash mr-1"></i>ELIMINAR TODOS</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </body>

    <script src="js/administracion.js" defer></script>

    <%- include('footer') %>