<link href="css/cabecera.css" rel="stylesheet">

<div class="barraSuperior">
    <!-- Contenido de la barra -->
    <div class="enlaces">
        <a href="/">Inicio</a>
        <a href="/login">Iniciar sesión</a>
        <a href="/registro">Registrarse</a>
        <a href="/acercade">Acerca de</a>
    </div>
</div>