<link href="css/cabecera.css" rel="stylesheet">

<div class="barraSuperior">
    <div id="izquierda">
        <a href="/"><img id="logo" src="images/ge_logo_simple.png"></a>
    </div>
    <div id="derecha">
        <% if (session.isAuth) { %>
            <a href="/perfil">Perfil</a>
            <a href="/logout">Cerrar sesión</a>
        <% } else { %>
            <a href="/login">Iniciar sesión</a>
            <a href="/registro">Registrarse</a>
        <% } %>
        <a href="/platos">Nuestros platos</a>
        <a href="/calendario">Calendario</a>
        <a href="/planes">Planes</a>
        <a href="/acercade">Acerca de</a>
        <a href="/administracion">[ADMINISTRACIÓN]</a>
    </div>
</div>