<%- include('head') %>
    <link href="css/calendario.css" rel="stylesheet">

    <body>
        <%- include('cabecera') %>

            <div class="cuerpo">
                <h2>¡Estos son los deliciosos platos que te esperan esta semana!</h2>
                <hr>
                <div id="menus">
                    <img src="/images/gif_cargando.gif" width="25%" />
                    <p>Cargando...</p>
                </div>
            </div>
    </body>

    <script src="js/calendario.js" defer></script>

    <%- include('footer') %>