<%- include('head') %>
    <link href="css/perfil.css" rel="stylesheet">

    <body>
        <%- include('cabecera') %>

        <div class="cuerpo">
            Esto es el calendario tete
        </div>
    </body>

    <%- include('footer') %>