<%- include('head') %>
    <link href="css/cocinero.css" rel="stylesheet">

    <body>
        <%- include('cabecera') %>
            <div class="cuerpo">
                <h2>Área de cocina</h2>
                <hr>
                <p>Aquí se pueden ver los ingredientes exactos que se necesitan para la elaboración de los platos de esta semana.</p>
                <br>
                <h3>Entregas</h3>
                <hr>
                
    </body>

    <script src="js/cocinero.js" defer></script>

    <%- include('footer') %>