<%- include('head') %>
    <link href="css/cocinero.css" rel="stylesheet">

    <body>
        <%- include('cabecera') %>
            <div class="cuerpo">
                <h2>Ingredientes necesarios para realizar platos</h2>
                <hr>
                <p>Aquí se pueden ver los ingredientes exactos que se necesitan para la elaboración de los platos en relación a la cantidad de clientes.</p>
                <div id="platos">

                </div>
    </body>

    <script src="js/cocinero.js" defer></script>

    <%- include('footer') %>