<%- include('head') %>
    <link href="css/compra-exitosa.css" rel="stylesheet">

    <body>
        <%- include('cabecera') %>

            <div class="cuerpo">
                <h2>¡Compra exitosa! ¡Gracias por confiar en Gharkhana Eats!</h2>
                <hr>
                <p>Te damos la bienvenida a nuestra perqueña pero humilde familia. Si tienes cualquier problema o
                    pregunta, no
                    dudes en contactar con nosotros lo antes posible y estaremos encantandos de ayudarte.</p>

                <p>Te deseamos una feliz alimentación y un feliz ahorro. ¡Que aproveche!</p>
            </div>
    </body>

    <script src="js/compra-exitosa.js" defer></script>

    <%- include('footer') %>