<%- include('head') %>
    <link href="css/index.css" rel="stylesheet">

    <body>
        <%- include('cabecera') %>

            <div class="fondo">
                <div class="cuerpoLogo">
                    <img src="images/ge_logo.png" width="250px">
                    <p id="eslogan">Cocinamos y ahorramos por ti</p>
                </div>
                <div id="cita">
                    <p id="citaTexto">“Si no quieres perder tiempo en cocinar, y además quieres ahorrar dinero,
                        Gharkhana
                        Eats es exactamente lo que buscas.”</p>
                    <div id="nombreCita">
                        - John Kindred del Toro -
                    </div>
                </div>
                <div class="cuerpoComidas">
                    <div class="comidas">
                        <h2>¡Mira algunos de nuestros deliciosos platos!</h2>
                        <div class="comidasIzquierda">
                            <div id="platoDestacado0" class="cuerpoItemComidaPromocionada"></div>
                            <div id="platoDestacado1" class="cuerpoItemComidaPromocionada"></div>
                            <div id="platoDestacado2" class="cuerpoItemComidaPromocionada"></div>
                        </div>
                        <div class="comidasDerecha">
                            <img src="images/detalle_mancha2.png">
                        </div>
                    </div>
                </div>
                <div class="cuerpoCaracteristicas">
                    <div class="caracteristicasTextoDivIzquierda">
                        <img src="images/detalle_mancha1.png">
                    </div>
                    <div class="caracteristicasTextoDivDerecha">
                        <h2>¡Nosotros te preparamos la comida y ahorramos por ti!</h2>
                        <p>En Gharkhana Eats buscamos que te olvides de hacer de comer el
                            resto de tu vida, y para conseguirlo, compramos los mejores productos en las cantidades
                            exactas que necesitan nuestros clientes buscando ajustar los precios al máximo,
                            permitiéndonos tener los precios más bajos del mercado alimenticio, con el enorme plus de
                            que no tendrás que volver a hacer la compra ni ha preparar la comida nunca más. Además,
                            nuestras comidas son ricas y variadas, por lo que no tendrás que preocuparte de buscar y
                            preparar comida sana.</p>
                        <a href="/platos">¡Mira todos nuestros platos!</a>
                        <br><br>
                        <h2>¡Disfruta de nuestro servicio por un precio único en el mercado!</h2>
                        <p>Nuestros precios son inmejorables y lo mejor, podrás hacer una prueba por una semana para
                            comprobar si nuestro servicio es de tu agrado, y si te gusta, podrás pasar al plan mensual
                            ¡que te mantendrá saciado por el resto de la vida!</p>
                        <a href="/platos">¡Mira nuestros planes desde 49,99€!</a>
                    </div>
                </div>
            </div>
    </body>

    <script src="js/index.js" defer></script>

    <%- include('footer') %>