<%- include('head') %>
    <link href="css/index.css" rel="stylesheet">

    <body>
        <%- include('cabecera') %>

            <div class="fondo">
                <div class="cuerpoLogo">
                    <img src="images/ge_logo.png" width="250px">
                    <p id="eslogan">Cocinamos y ahorramos por ti</p>
                </div>
                <div id="cita">
                    <p id="citaTexto">“Si no quieres perder tiempo en cocinar, y además quieres ahorrar dinero, Gharkhana
                        Eats es exactamente lo que buscas.”</p>
                    <div id="nombreCita">
                        - John Kindred del Toro -
                    </div>
                </div>
                <div class="cuerpoComidas">
                    <div class="cuerpoItemComidaPromocionada">
                        PLATO DESTACADO 1
                    </div>
                    <div class="cuerpoItemComidaPromocionada">
                        PLATO DESTACADO 2
                    </div>
                    <div class="cuerpoItemComidaPromocionada">
                        PLATO DESTACADO 3
                    </div>
                </div>
                <div class="cuerpoCaracteristicas">

                </div>
            </div>
    </body>

    <%- include('footer') %>