<%- include('head') %>
    <link href="css/index.css" rel="stylesheet">

    <body>
        <%- include('cabecera') %>

            <div class="cuerpoLogo">
                <img src="images/ge_logo.webp" width="250px">
            </div>
            <div class="cuerpoComidas">
                <div class="cuerpoItemComidaPromocionada">
                    asdas
                </div>
                <div class="cuerpoItemComidaPromocionada">
                    asdas
                </div>
                <div class="cuerpoItemComidaPromocionada">
                    asdas
                </div>
            </div>
            <div class="cuerpoCaracteristicas">
                
            </div>
    </body>

    <%- include('footer') %>