<%- include('head') %>
    <link href="css/registro.css" rel="stylesheet">

    <body>
        <%- include('cabecera') %>
            <div class="cuerpo">
                <div class="container mt-5">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <h2 class="titulo text-center mb-4">¡Inicia sesión con tu cuenta!</h2>
                            <form action="/login" method="POST">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="usuario" name="usuario"
                                        placeholder="Nombre de usuario" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="pass" name="pass"
                                        placeholder="Contraseña" required>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block mb-3">Iniciar sesión</button>
                                <button type="submit" class="btn btn-danger btn-block mb-3"><i
                                        class="fab fa-google mr-2"></i> Iniciar sesión con mi cuenta de Google</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/global.js" defer></script>
    <script src="js/login.js" defer></script>

    <%- include('footer') %>