<%- include('head') %>
    <link href="css/perfil.css" rel="stylesheet">

    <body>
        <%- include('cabecera') %>

            <div class="cuerpo">
                <h2>¡Hola <%= session.username %>!</h2>
                <hr>
                <div class="informacion">
                    <p id="nombre">Tu plan actual: </p>
                    <p id="nombre">Con nosotros desde el </p>
                </div>
                <br>
                <div class="informacionPersonal">
                    <h3>Información personal</h2>
                        <hr>
                        <p id="nombre">Nombre de usuario: </p>
                        <p id="nombre">Email: </p>
                        <p id="nombre">Cambiar contraseña: </p>
                        <br>
                        <p id="nombre">Nombre completo: </p>
                        <p id="nombre">Dirección de entrega: </p>
                </div>
                <br>
                <div class="historialEntregas">
                    <h3>Historial de entregas</h2>
                        <hr>
                        <p id="nombre">Aquí va la tabla...</p>
                </div>
            </div>
    </body>

    <%- include('footer') %>