<%- include('head') %>
    <link href="css/planes.css" rel="stylesheet">

    <body>
        <%- include('cabecera') %>

            <div class="cuerpo">
                <h2>Planes de Gharkhana Eats</h2>
                <hr>
                <div class="planes">
                    <div class="plan">
                        <div class="cajaCarta">
                            <div class="titulo">SEMANAL</div>
                            <br>
                            <div class="precio">49,99€ / semana</div>
                            <br>
                            <div class="descripcion">Prueba el servicio de Gharkhana Eats una sola semana. Perfecto para poder probar si
                                nuestro servicio es de tu agrado. Pago único sin suscripción.</div>
                            <br>
                            <div class="descripcion">¡Con ese plan ahorrarás más de <b>40€</b> a la semana!</div>
                        </div>
                        <div class="cajaBoton">
                            <% if (session.isAuth) { %>
                                <button type="submit" class="btn btn-block mb-3" id="botonPlanSemanal">¡Contratar plan
                                    semanal!</button>
                            <% } else { %>
                                <button type="submit" class="btn btn-block mb-3" id="botonPlanSemanal_sinRegistro">¡Registrate para probarlo!</button>
                            <% } %>
                        </div>
                    </div>

                    <div class="plan">
                        <div class="cajaCarta">
                            <div class="titulo">MENSUAL</div>
                            <br>
                            <div class="precio">189,99€ / mes</div>
                            <br>
                            <div class="descripcion">Disfruta de Gharkhana Eats todo un mes. Si ya sabes cómo
                                funcionamos, o te lo han contado, este es tu plan. Suscripción mensual.</div>
                            <br>
                            <div class="descripcion">¡Con ese plan ahorrarás más de <b>170€</b> al mes!</div><br>
                        </div>
                        <div class="cajaBoton">
                            <% if (session.isAuth) { %>
                                <button type="submit" class="btn btn-block mb-3" id="botonPlanMensual">¡Contratar plan
                                    mensual!</button>
                            <% } else { %>
                                <button type="submit" class="btn btn-block mb-3" id="botonPlanMensual_sinRegistro">¡Registrate para suscribirte!</button>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
    </body>

    <script src="js/planes.js" defer></script>

    <%- include('footer') %>