<%- include('head') %>
    <link href="css/platos.css" rel="stylesheet">

    <body>
        <%- include('cabecera') %>

            <div class="cuerpo">
                <h2>¡Explora nuestros platos únicos!</h2>
                <hr>
                <div id="platos">
                    <div id="cargando">
                        <img src="/images/gif_cargando.gif" width="25%" />
                        <p>Cargando...</p>
                    </div>
                </div>
            </div>
    </body>

    <script src="js/platos.js" defer></script>

    <%- include('footer') %>