<%- include('head') %>
    <link href="css/reparticion.css" rel="stylesheet">

    <body>
        <%- include('cabecera') %>
            <div class="cuerpo">
                <h2>Área de gestión de envíos del repartidor</h2>
                <hr>
                <p>Desde aquí se pueden ver todos los platos que se han de entregar, así como los nombres de usuario al
                    los que pertenecen y sus direcciones de entrega.</p>
                <br>
                <h3>Entregas</h3>
                <hr>
                
    </body>

    <script src="js/reparticion.js" defer></script>

    <%- include('footer') %>