<%- include('head') %>
    <link href="css/repartidor.css" rel="stylesheet">

    <body>
        <%- include('cabecera') %>
        <div class="cuerpo">
            <h2>Ruta de hoy para entregar los platos</h2>
            <hr>
            <br>
            <div id="centro">
                <img src="images/mapa.png">
                <br><br>
                <button class="btn boton btn-block mb-3" id="boton_abrirRuta">Generar Ruta</button>
            </div>
        </div>
    </body>

    <script src="js/repartidor.js" defer></script>

    <%- include('footer') %>