.barraSuperior {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    padding: 14px 20px;
    z-index: 1000;

    text-shadow:
        var(--cabecera-texto-borde) 0 var(--cabecera-texto-color),
        calc(-1 * var(--cabecera-texto-borde)) 0 var(--cabecera-texto-color),
        0 var(--cabecera-texto-borde) var(--cabecera-texto-color),
        0 calc(-1 * var(--cabecera-texto-borde)) var(--cabecera-texto-color),
        var(--cabecera-texto-borde) var(--cabecera-texto-borde) var(--cabecera-texto-color),
        calc(-1 * var(--cabecera-texto-borde)) calc(-1 * var(--cabecera-texto-borde)) var(--cabecera-texto-color),
        var(--cabecera-texto-borde) calc(-1 * var(--cabecera-texto-borde)) var(--cabecera-texto-color),
        calc(-1 * var(--cabecera-texto-borde)) var(--cabecera-texto-borde) var(--cabecera-texto-color);

    background-color: var(--color-fondoSecundario);

    border-bottom: solid 2px;
}

#derecha a:hover {
    color: var(--color-terciario);
}

#izquierda {
    width: 200px;
    height: 100%;
    float: left;
    text-align: left;
}

#derecha {
    float: right;
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#derecha a {
    color: var(--color-primario);
    margin-right: 10px;
    text-decoration: none;
    transition: color 0.3s;
}

#logo {
    max-height: 100%;
}