#menus {
    width: 100%;
    text-align: center;
}

.menu{
    width: 100%;
    background-color: var(--color-fondoSecundario);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 40px;
    text-align: left;
}

.fecha {
    width: 100%;
    margin-bottom: 20px;
}

.hora {
    width: 100%;
    padding-left: 25px;
}

.comida {
    width: 100%;
    padding-left: 50px;
}