#menus {
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

.menu{
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    text-align: center;

    background-color: var(--color-fondoSecundario);

    display: inline-block
}

.fecha {
    width: 100%;
    margin-bottom: 20px;
}

.hora {
    width: 100%;
    text-align: center;
}

.comida {
    width: 100%;
    text-align: center;
}

.nombre{
    font-weight: bold;
}

.foto {
    max-height: 200px;
    border-radius: 10px;
}

.cajaHora{
    float: left;
    width: 50%;
}