body {
    font-family: Arial, sans-serif;
}

.cuerpoLogo {
    padding-top: 30px;
    text-align: center;
    background-color: var(--color-fondoPrimario);
    padding: 40px;
}

.cuerpoComidas {
    width: 100%;
    text-align: center;
    background-color: var(--color-fondoSecundario);
    padding: 30px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cuerpoItemComidaPromocionada {
    width: 300px;
    height: 350px;

    margin: 20px;

    background-color: #752121;
}