.cuerpo {
    width: 100%;
    height: 100%;

    font-size: 18px;
    background-color: var(--color-fondoPrimario)
}

.cuerpoLogo {
    margin-top: 40px;
    padding-top: 30px;
    text-align: center;
    background-color: var(--color-fondoPrimario);
    padding: 40px;
}

#eslogan {
    font-style: italic;
    font-size: 16px;
    color: rgb(156, 156, 145);
    font-weight: bold;
}

#cita {
    color: #a5a381;
    font-size: 32px;
    font-weight: bold;
    padding: 60px;
    background-color: var(--color-fondoSecundario);
    font-style: italic;
    text-align: center;
}

#nombreCita {
    color: #b8b698;
    font-size: 22px;
    text-align: right;
    padding-right: 40px;
}

.cuerpoComidas {
    width: 100%;
    padding-top: 50px;
    text-align: center;
    background-color: var(--color-fondoPrimario);
    overflow: hidden;
}

.comidas {
    width: 100%;
    padding-bottom: 60px;
}

.comidasIzquierda {
    width: 80%;
    float: left;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.comidasDerecha {
    float: right;
}

.cuerpoItemComidaPromocionada {
    width: 350px;
    margin: 20px;
}

.nombrePlato {
    font-size: 24px;
    font-weight: bold;
}

.imagen {
    max-width: 100%;
}

.cuerpoCaracteristicas {
    width: 100%;
    padding: 50px 100px 0px 0px;
    text-align: left;
    background-color: var(--color-fondoSecundario);
    overflow: hidden;
}

.caracteristicasTextoDivIzquierda {
    float: left;
    width: 35%;
}

.caracteristicasTextoDivDerecha {
    float: left;
    width: 65%;

    text-align: justify;
    font-weight: bold;
    font-size: 20px;
}