.titulo {
    font-size: 26px;
    color: var(--color-primario);
    font-weight: bold;
}

.form-control {
    height: 50px;
    padding: 10px 15px;
}

.btn {
    height: 50px;
    padding: 10px 15px;
    background-color: var(--color-primario);
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.btn:hover {
    background-color: var(--color-terciario) !important;
    color: rgb(255, 255, 255) !important;
}

.mensaje-flotante {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 15px;
    border-radius: 5px;
    display: none; /* Ocultar el mensaje por defecto */
    z-index: 1000;
}

.mensaje-flotante.mostrar {
    display: block; /* Mostrar el mensaje */
}

#tituloPie{
    text-align: center;
    font-weight: bold;
}

.oculto {
    display: none;
}